<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/articles.css">
    <title>Articles</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="index.html">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartrate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weighttraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="racedaytips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="#"> - Articles</a>
                            <a class="dropdown-item" href="ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Running Articles</h2>
            <p class="wave__text">Below are various running articles on a number of marathon and half marathon related topics.<br>
                All articles by Brad Boughman.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <h2 class="main__head text-center">No Need For Snobbery.</h2>
                            <p class="main__text has__dropcap">
                                Recently, I was asked what my opinion is on slow runners. More specifically, “are slow runners ruining the sport?”
                            </p>
                            <p class="main__text">
                                For many, running is a highly competitive sport. For the majority, it is not.
                            </p>
                            <p class="main__text">
                                Should someone not lift weights because others are stronger? Should someone not read a book because others read faster? Should the Detroit Lions not show up to their football games because the other teams are better? Should someone not run because other runners are faster?
                            </p>
                            <p class="main__text">
                                Why would someone care if less speedy runners are finishing marathons? After all, the faster runner does not have to worry about the less speedy runners getting in their way or slowing them down since they would be behind the faster runner. Having more participants in marathons also creates a more lively atmosphere at events with more fan support for all runners. The only thing I can logically speculate is that with the growing number of people finishing marathons, some experienced marathoners may feel their accomplishments are diminished, in their own eyes or in the eyes of others.
                            </p>
                            <p class="main__text"> Why put someone down who is trying to better themselves or achieve a lofty goal? The reality is there are snobby runners out there. The good thing is they represent a small minority of the running population. Just let them suffer in their snobbery and keep running!
                            </p>
                            <p class="main__text2">
                                So, for any less speedy runner out there who may be embarrassed by their lack of speed: You are the only one that matters and need not be concerned about the speed of others or feel insecure because others are faster. The only competition is yourself. Give it your personal best and you simply cannot lose.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <h2 class="main__head text-center">Running with Music<br>
                                ...in your head!</h2>
                            <p class="main__text has__dropcap">
                                Listening to upbeat music before a run is a fun and easy way to gain extra motivation during a run and to make long runs more enjoyable. What gets your blood pumping? My personal favorite is still the Rocky IV Soundtrack. The songs are upbeat and have powerful, inspiring lyrics that play in my head late in my runs when I need it most. As one song goes, “In the warrior’s code, there’s no surrender. Though his body cries stop, his spirit cries…NEVER!” Wow! I’m getting pumped up just writing that!
                            </p>
                            <p class="main__text">
                                Find something that moves you and speaks to you. I know some people like to wear headphones during runs. However, I encourage you to not wear headphones while training unless you are running on a treadmill. While you may enjoy listening to music while you run, headphones can be quite dangerous since they limit your ability to hear what is going on in your surroundings. For instance, if you are blaring music into your ears, you might not hear the squealing tires closing in on you or someone coming up behind you. Do not wear headphones.
                            </p>
                            <p class="main__text">
                                Instead, enjoy the run by letting your mind run free. Your imagination will run wild on things to think about. In fact, you will find yourself finding solutions to challenges in your life and coming up with new goals to set for yourself. If you are listening to positive, inspiring music, then you will find yourself playing back the tunes in your head late in the run when you are out of things to think about.
                            </p>
                            <p class="main__text2">
                                <span class="list__title2">Action Items:</span>
                            </p>
                            <p class="main__text2">
                                <span class="list__title2">&#35;</span> Find a CD that inspires you.<br>
                                <span class="list__title2">&#35;</span> Listen to it before running.<br> If you run in the mornings, then listen to music in your car on your way home from work the day before. No matter when you run, make sure to listen to music that inspires you.<br>
                                <span class="list__title2">&#35;</span> Enjoy the extra motivation late in the run!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <h2 class="main__head text-center">Making Progress in Training
                            </h2>
                            <p class="main__text has__dropcap">
                                If you are finding yourself easily able to complete and enjoy training runs as you increase mileage, then that is a pretty good sign you are making positive progress toward achieving your running goals. Great job! However, what if runs feel like a struggle or you seem to be making little progress?
                            </p>
                            <p class="main__text">
                                It is normal for there to be days when runs just are not as easy as others. Those days here and there should not be confused with lack of progress, rather should be expected at times. Your positive mental attitude will allow you to rise to the challenge on those days. If training for a marathon, it is not uncommon to experience a week somewhere late in training where you seem to hit a block. Again, just be aware of that and allow your mental stamina to push you through.
                            </p>
                            <p class="main__text">
                                Areas of concern should be when you seem to be making little progress during the first quarter of a training program. Fortunately, often one little fix can make a big difference.
                            </p>
                            <p class="main__text">
                                First, consider your pace. Are you trying to run too fast at the beginning of your training runs? If so, that could not only lead to a more difficult run, but over time can lead to overtraining. Be sure to ease into each run and ensure that you can breathe easily while running. You should be able to talk comfortably with a running partner (or imaginary friend if running alone) during the run. Run a comfortable pace that allows you to complete the run without gasping for air.
                            </p>
                            <p class="main__text">
                                Second, take a look at your diet and recovery time. The diet can have a major impact on the performance of your training runs. Just like anything else in life, you get out of it what you put into it. Carbohydrates provide fuel, but protein is needed to repair muscle fibers. Be sure to have a carbohydrate and protein rich snack within thirty minutes following each run to help your body recover and prepare itself for the next run. Take into consideration the amount of time you are allowing between each run for recovery. Perhaps a slight change in your schedule may allow more recovery time and lead to better results.
                            </p>
                            <p class="main__text">
                                Third, dedicate more time to developing the proper mindset and building mental stamina. One easy method is to take just 5-10 minutes to lay quietly with your eyes closed and visualize yourself completing an enjoyable run. If you expect the run or some part of it to be a challenge, then picture yourself in your mind approaching the obstacle and pushing through the finish. This simple practice will get your subconscious mind working for you, acting as a heat seeking missile to bring your vision into reality. I cannot stress enough the benefits of this simple exercise or in building mental stamina for distance running.
                            </p>
                            <p class="main__text2">
                                Again, it is often the little things that make a big difference. Whether you are already making positive progress or just trying to get started, always look at the little things and do the little things right.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <h2 class="main__head text-center">Regrouping from Missed Training Runs
                            </h2>
                            <p class="main__text has__dropcap">
                                Missing runs during training can be quite a drag. Whether it is due to illness, spending too much time at the office, caring for a sick child, or anything else, it prevents you from enjoying the run and, if you let it, can put a damper on your motivation.
                            </p>
                            <p class="main__text">
                                If you miss a week of runs during a training period, do not try to make up for lost time when you start back. Just move on as if you ran that week and pick up with the current schedule. However, start back at a slower pace to allow your body to adjust, especially if your time off was due to illness.
                            </p>
                            <p class="main__text">
                                From a mental perspective, view the time off as a positive. Do not let yourself get discouraged simply because you missed a few runs. No matter what their level of dedication, many runners miss runs because things can arise that we simply cannot control. We can, however, control our mental attitude. Choose to see the time off as an opportunity to rest, perhaps something that may have helped you avoid an injury, or just think of how great it will feel to achieve your goal in spite of the unexpected obstacles that came your way during training.
                            </p>
                            <p class="main__text2">
                                You can achieve your running goals even if missing a few runs. Never let something you cannot control bring you down.
                            </p>
                            <div class="container">
                                <div class="article1__img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <h2 class="main__head text-center">Marathon Day Support
                            </h2>
                            <p class="main__text has__dropcap">
                                If you are planning to have friends and family cheer you on during your upcoming marathon, then be sure they can actually see you and that you can see them. Get a map of the course (typically available online at the event’s website) and even consider contacting the management of the course to find out the best places for your friends or family to see you. Do not just look at the map and say, “See you at mile 5, 17, 21, and 26.2.” These areas may not be accessible to spectators.
                            </p>
                            <p class="main__text">
                                Do not just assume they can get to those points. They may not! Speaking from experience, it is a major disappointment to expect to see your supporters at a specific point and they are not there when you get there. While you know they want to be there, you also know they cannot be there. Plan ahead! Let your supporters know where they can see you. They will give you a major emotional lift when you see them.
                            </p>
                            <p class="main__text">
                                Speaking of you seeing them, expect there to be lots of people cheering in the areas you expect to see your supporters and know that it may be difficult to hear them or easily see them. They may want to carry a sign or something they can hold up to attract your attention.
                            </p>
                            <p class="main__text">
                                Consider wearing something bright. You do not want your supporters to be at the expected spot and not be able to see you! I am not suggesting this, but during my first marathon, I recall seeing a hairy guy sporting a pink tutu and pink cowboy hat. You will never see me wearing that, but the point is to wear something that stands out so your supporters can easily spot you in a group of runners.
                            </p>
                            <p class="main__text2">
                                If you will not have personal supporters to cheer you on, then consider printing your name on your shirt. The lift you will get will be amazing and make the marathon or half marathon fun for you as total strangers cheer you on. Make sure your supporters know where they can see you, make sure they CAN see you, and get support from strangers.
                            </p>
                            <p class="main__text2">
                                Have fun!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <h2 class="main__head text-center">What Motivates a Runner?
                            </h2>
                            <p class="main__text has__dropcap">
                                What would drive someone to jump out of bed in the early morning hours and run for countless miles before most people even hear the alarm go off? Are they crazy? Maybe, but probably not.
                            </p>
                            <p class="main__text">
                                Once someone dedicates themselves to running, whether as an avenue to lose weight, have more energy, look better, or simply live a healthy lifestyle, they begin to realize the full range of benefits running provides. Running then becomes a habit. For many, it even becomes somewhat of an addiction (a good one). The "runner's high" is just something they must have.
                            </p>
                            <p class="main__text">
                                Running is about a lot more than just being in shape and looking good. It provides a great mental escape during the run. Running allows your mind to run free and thoughts to flow. It provides stress relief as one can not only feel good during and after the exercise (as those endorphins get pumping), but can relax and enjoy the run, the moment. For many, running becomes a spiritual thing.
                            </p>
                            <p class="main__text">
                                The challenge for many beginning runners is getting to the point of habit. While they may be motivated during the first weeks of running, they fall into the trap of making simple excuses to take a morning off and then find themselves losing motivation.
                            </p>
                            <p class="main__text">
                                See if this sounds familiar: Someone decides to start running to get into shape. They run 3-4 days per week for two weeks. Week three arrives and Monday morning the alarm clock goes off while they are cozy in bed and they think, “I’ve been doing so good I’ll treat myself to a morning off and some extra sleep.” Just that one morning off early on can create a big-time setback for many as they may take another run off or even longer, thus delaying them from getting into the habit of running or preventing from ever even getting into the habit.
                            </p>
                            <p class="main__text2">
                                If you are new to running or just trying to get back into the mode, do yourself a favor and stick with your plans early on. Do the simple things like laying out your running gear the night before to help motivate you the next morning. Run consistently for 4-6 weeks, at a minimum, and you’ll be on track to a healthy life of exercise. Consistency is the key and staying motivated is the way. Run!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <h2 class="main__head text-center">Winter Running
                            </h2>
                            <p class="main__text has__dropcap">
                                For many of us, cold weather has arrived or is on the way. My favorite time of year! The cooler weather is welcomed by most as relief from those hot summer running days. However, some days can be just plain cold.
                            </p>
                            <p class="main__text">
                                Be smart and use your best judgment as to whether or not to run when you have a cold or feel like you might be getting sick. Sometimes it can feel good knowing you ran or made your scheduled training run even though you were sick, but it could lead you to getting sicker and missing a week of training rather than only one day. If you are training for a race, a big part of training is breaking down your body and it recovering to become stronger. As you break down your body, your immune system may weaken and make you more susceptible to becoming sick. Keep this in mind when considering whether or not to run when you are sick. Missing a single run is always better than missing 1-2 weeks while you are laid up in bed sick.
                            </p>
                            <p class="main__text">
                                Dress appropriately to keep yourself warm, but not hot - and cool, but not cold. Naturally, our bodies generate heat as we run. It is okay to be a little cool at the start of a run knowing we will warm up, but if in doubt, go ahead and take along a pair of gloves and a cap (or toboggan) so you do not find yourself shivering late in the run. If you find the gloves are not needed, you can easily stuff them in your pants and run on. Applying Chap Stick to your lips might be a good idea too.
                            </p>
                            <p class="main__text">
                                Just because we may not sweat as much during cold days does not mean we can cut back on fluid consumption. Be sure to continue hydrating after runs and that you get your body weight back to within a half pound or equal to what it was before the run by consuming water or sports drink following the run.
                            </p>
                            <p class="main__text2">
                                Enjoy those cool weather runs!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>