<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../styles/eBooks.css">
    <title>eBooks</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="#"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">eBooks</h2>
            <p class="wave__text">
                Marathon/Half Marathon Rookie:
                How to Train for a
                Marathon/Half Marathon
                ...and have fun doing it!<br>
                eBook (PDF)
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container spacer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text3">
                                Want to learn how to train for a marathon/half marathon? These training books will show you the way. The website only teaches you the physical part of training. <span class="book__text">The books teach you the other 75% of training: The Mental Side.</span> No matter how fit (or unfit) you are, the mental side will not only help you to finish your first marathon/half, but will help you have fun doing it…and help in every other facet of your life. And it’s even backed by a money-back guarantee.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <img src="img/ebook2.jpg" class="ebook__img" alt="...">
                        </div>
                        <p class="book__text">Sale $9.97</p>
                        <button class="btn see__btn text-center" type="button"><a href="#"><i class="fas fa-shopping-basket"></i> Buy now</a></button>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <p class="main__text">
                                    <span class="book__text"> Marathon/Half Marathon Rookie: How to Train for a Marathon...and have fun doing it!</span> are your proven guides. These fun-to-read eBooks will teach you everything you need to know about successful marathon/half training and preparation for the big day. You will feel inspired, gain the need-to-know knowledge, and create the mindset of a marathon runner.<br>
                                    You will create a vision for yourself that you will bring into reality on marathon day. Can you really run a 26.2-mile marathon? You can if you want to, you know why you want to, and you prepare mentally, physically, and nutritionally. You will learn how to train for a marathon - safely.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="img/ebook1.jpg" class="ebook__img align-self-center" alt="...">
                            </div>
                            <p class="book__text">Sale $9.97</p>
                            <button class="btn see__btn text-center" type="button"><a href="#"><i class="fas fa-shopping-basket"></i> Buy now</a></button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <p class="main__text">
                                    Buy now and receive the <span class="book__text">Marathon Rookie Training eJournal</span> to track your progress and the <span class="book__text">10 Meals for Nutrition in Training</span> eBook <span class="has__bold">FREE.</span><br>
                                    In seconds after placing your order, you will receive an email that will instruct you on how to download your eBook and free bonus.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="img/ebook3.jpg" class="ebook__img2 align-self-center" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center spacer">
                        <div class="col-12 text-center">
                            <div class="container">
                                <p class="main__text">
                                    <span class="has__bold">Guarantee: Should you not be 100% satisfied with this eBook, just email me within 45 days of the purchase date and I will refund you the full amount.</span>
                                </p>
                                <p class="main__text">
                                    <span class="has__bold2">Questions? Call Customer Service at (704) 258-9980</span>
                                </p>
                                <p class="main__text2">
                                    Thank you for ordering Marathon/Half Marathon Rookie: How to Train for a Marathon...and have fun doing it!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>