<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/../styles/FAQs.css">
    <title>FAQs</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="#"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Frequently Asked Questions</h2>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <div class="container">
                            <ul class="list-group main__text spacer">
                                <li class="list-group-item">
                                    <span class="list__title2">How much time do I need to train for a marathon?
                                    </span>
                                    <p class="pspacer">
                                        We are all different so there is no universal answer to this. However, as a general guideline, it is safe to say one should be able to run for at least 30 minutes without stopping and should be running 12-15 total miles per week for several weeks before beginning most training programs. This also depends on your finish time goal and the level of training program you are looking to complete. The important thing is to gradually increase mileage each week and take it slow.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">I missed a week of training. Can I still finish?</span>
                                    <p class="pspacer">
                                        Many people miss training runs during the training period and it should generally be expected that something may come up over the course of training that simply does not allow you to run. Do not sweat it. Just pick back up and move along with the training. Do not try to make up for lost time, just move on.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">Do I need to train using a heart rate monitor?
                                    </span>
                                    <p class="pspacer">
                                        Heart rate monitors are helpful, but not essential. They can help you to avoid overtraining and provide confidence as you see your overall fitness level improve, but are optional.
                                    </p>
                                    <button class="btn see__btn text-center" type="button"><a href="heartRate.html">See More</a></button>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">What kind of diet should I follow?
                                    </span>
                                    <p class="pspacer">
                                        Carbohydrates will provide your fuel. It is recommended that 65% of your calories come from carbohydrates, 10% from protein, and 25% from unsaturated fats
                                    </p>
                                    <button class="btn see__btn text-center" type="button"><a href="nutrition.html">See More</a></button>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">Should I lift weights while training?
                                    </span>
                                    <p class="pspacer">
                                        Lifting weights is optional during training. Light to moderate lifting can be good for increasing strength and confidence, but one does not have to lift weights in order to run a marathon or half marathon.
                                    </p>
                                    <button class="btn see__btn text-center" type="button"><a href="weightTraining.html">See More</a></button>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">What are good snacks for runners?</span>
                                    <p class="pspacer">
                                        Fruits and trail mix (nuts) are great. Do not be afraid to splurge and have some chocolate to reward yourself for your hard work.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">What is a good finish time goal for a first marathon?
                                    </span>
                                    <p class="pspacer">
                                        For a first marathon, we suggest setting a primary goal of finishing and any specific time goal being secondary. As you train, you will get a pretty good idea of when you might finish and can set a time goal accordingly. However, marathon training demands a lot of your body and demanding even more may prevent you from even reaching the starting line. After completing your first marathon, then you will have the training experience under your belt, know what to expect, and have a finish time you can set a target to beat should you wish to run another marathon in the future.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">How do I select a pair of running shoes?
                                    </span>
                                    <p class="pspacer">
                                        Running shoes will be the most important part of your running gear. To find the best pair for you, visit a local running specialty store. Most of these stores are owned and operated by highly experienced runners who can get you into the best shoe for your feet. Many even have a treadmill or running area where you can test out several pair of shoes to find what feels most comfortable for you. If you have an old pair of running shoes, then take them along with you as looking at the bottoms of the shoes will help them evaluate your pronation.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">How can I prevent blisters on my feet?
                                    </span>
                                    <p class="pspacer">
                                        Blisters can be common among runners and can be painful, annoying, or simply unpleasant to look at. The culprit is generally friction and moisture. Before long runs, apply a small amount of Vaseline to both feet. The Vaseline will reduce friction and dramatically lessen the likelihood of getting blisters. Wear synthetic running socks that pull moisture from your feet and wear shoes that fit properly and are not too loose. If wearing a new pair, wear them on lower mileage runs before wearing them on a long run to help break them in first.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">How can I stop a side stitch when I’m running?
                                    </span>
                                    <p class="pspacer">
                                        Eating too seen before a run may lead to a side stitch. Always try to eat no less than an hour before a run. Eating 2-3 hours before a run should help to avoid side stitches. One popular remedy to side stitches during a run is to exhale slowly and fully to remove all the air from your lungs. Then pick back up with a breathing pattern such as a 2-2 breathing pattern where you take two steps while breathing in, then two steps while breathing out, and repeat. Maintaining a breathing pattern may also help to prevent a side stitch from occurring in the first place.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <span class="list__title2">Should I run if I have a cold?
                                    </span>
                                    <p class="pspacer">
                                        Be smart and use your best judgment as to whether or not to run when you have a cold or feel like you might be getting sick. Sometimes it can feel good knowing you ran or made your scheduled training run even though you were sick, but it could lead you to getting sicker and missing a week of training rather than only one day. If you are training for a race, a big part of training is breaking down your body and it repairing to become strong again. As you break down your body, your immune system may also weaken and make you more susceptible to becoming sick. Keep this in mind when considering whether or not to run when you are sick. Missing a single run is always better than missing 1-2 weeks while you are laid up in bed sick.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>