<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/heartrate.css">
    <title>Heart Rate</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="/contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/index.html">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="/half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="/10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="/hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="/nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="#"> - Heart Rate</a>
                            <a class="dropdown-item" href="/runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="/stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="/crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="/weighttraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="/injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="/safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="/rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="/thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="/racedaytips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="/contact.html"> - Contact</a>
                            <a class="dropdown-item" href="/rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="/storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="/runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="/inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="/articles.html"> - Articles</a>
                            <a class="dropdown-item" href="/ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="/faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Heart Rate</h2>
            <p class="wave__text">
                Heart rate monitor training allows you to keep a close watch on your heart rate (HR) during training and will help you achieve your goals.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 col-md-6 text-center order-md-last">
                        <div class="container">
                            <p class="main__text">
                                Using an HR monitor allows you to measure the intensity of your runs and to gauge your progress towards fitness and conditioning.<br>
                                First, you need to determine your maximum beats per minute. The best way to accurately measure this is to test it out. After a light warm-up jog, run three ¼ mile sprints (as fast as you can run) with a 30 second walk between each sprint. Then check the beats per minute on your HR monitor. This will give you a measurement of your maximum beats per minute. Another way to measure your maximal heart rate is by using a simple formula: 220 – (your age) = Maximal Heart Rate. It should be pointed out, however, that using a formula like this is popular one is only an estimate and gives you a range you can expect to fall into.
                            </p>
                            <p class="main__text2">
                                As you move through training, you should begin to see the beats per minute drop while you are running the same speed as you did early in the training period. <a href="https://www.amazon.com/gp/product/B00N2BW2PK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00N2BW2PK&linkCode=as2&tag=marathonrooki-20&linkId=7VDFXXUHHQ6HGJR2">Fitbit and Polar both make excellent heart rate monitors.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="heart1__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text">
                                As you train, your heart simply gets stronger and gets better at pumping blood, which produces more oxygen for the muscles. Thus, the more you run, the stronger your heart gets and the easier it is to run.
                            </p>
                            <p class="main__text">
                                Your training runs should be at 70% to 80% of your maximal HR. Perform the test to determine your maximal HR and then monitor your heart rate to see that you are training at 70% to 80% of your maximal HR. This may be difficult at first, but stay with it and your heart will adapt, get stronger, produce more oxygen to the muscles, and then runs should become easier. As you move through training, you may find you need to pick up the pace to be at 70% to 80% of your maximal HR.
                            </p>
                            <p class="main__text2">
                                <a href="https://www.amazon.com/exec/obidos/ASIN/0915297256/qid=1121198479/sr=2-1/ref=pd_bbs_b_2_1">Heart Monitor Training for The Compleat Idiot </a> is a good resource for learning more about training with a heart rate monitor..
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="heart2__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>