<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <title>Marathon Rookie Home</title>
</head>

<body>
    <div class="cookie-container">
        <p class="cookie-text">
            We us cookies in this website to give you the best experience and to show you the relevant adds. To find out more, read our <a href="#"> privacy policy</a> and <a href="#"> cookie policy.</a>
        </p>
        <button class="cookie-btn">
            OK
        </button>
    </div>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="#">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link active__item" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate" id="arrowTarget2"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartrate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weighttraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate" id="arrowTarget3"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="racedaytips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate" id="arrowTarget4"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header text-center">How to Train for a Marathon or Half Marathon </h2>
            <p class="wave__text text-center">Want to learn how to train for a marathon or half marathon? Welcome to Brad Boughman's MarathonRookie.com! This site was created for the runner who wants to experience the thrill and sensational high of
                finishing their first 26.2-mile marathon or 13.1-mile half marathon.</p>
            <div class="text-center">
                <button type="button" class="btn btn-outline-light wave__btn"><a href="marathon.html">Let's Train !</a></button>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <section class="section1 container">
            <div class="body__text text-center">
                <p>The secret to successful marathon training and half marathon training lies within staying supremely motivated, training smart & safe, and maintaining proper nutrition.</p><br>
                <p>The days of just “gutting it out” are long gone. Whether you are training for a marathon or half marathon, it takes a lot more than good old determination and willpower to get you through training and the big day. Let your mind lead the way, not your body.</p>
            </div>
        </section>
        <div class="para1">
            <div class="para1__img d-flex align-items-center">
            </div>
        </div>
        <section class="section2 container">
            <div class="body__text text-center">
                <p>Don’t be set so much on willpower and determination that you miss out on the big picture of why you want to do this. By the way, why do you want to do this? Don’t let yourself off by stopping at your first answer! Dig deep! Why do you want to run a marathon or half marathon?</p><br>
                <p>When you go beyond that first answer, you will begin to realize what is really driving you. When you learn what is really driving you, then you can use that to push yourself through willpower and determination. You will build the foundation that will get your subconscious mind working for you, not against you. In short, you are in for an incredible experience.</p>
            </div>
        </section>
        <div class="para2">
            <div class="para2__img d-flex align-items-center">
                <div class="para2__text mx-auto container">
                    <blockquote class="blockquote">
                        <p class="mb-0">"Now if you are going to win any battle you have to do one thing. You have to make the mind run the body. Never let the body tell the mind what to do. The body will always give up. It is always tired in the morning, noon, and night. But the body is never tired if the mind is not tired."</p>
                        <footer class="blockquote-footer para2__footer"> George S. Patton, U.S. Army General, 1912 Olympian</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <section class="section3 container">
            <div class="body__text text-center">
                <p>Whether you're already running more than twenty miles per week or if you haven't even seen a pair of running shoes in ten years, YOU can successfully train for and finish a marathon or half marathon. Believe in yourself. Once you learn the right way how to train for a marathon or half marathon, you will begin to believe, then you will realize your goal.</p><br>
                <p>How to train for a marathon? Well, the books, beginner marathon training schedules, half marathon training program, free newsletter, tips, and more on this site will be your guide to helping you learn how to train for a marathon or half marathon. If running a marathon is a long term goal, be sure to check out the 5K training and 10K training programs to get started running now.</p><br>
                <p>Bookmark the site and come back often for new tips and fun stuff to keep you running injury-free and full of motivation.</p><br>
                <p class="font-weight-bold">Happy Running!</p>
            </div>
        </section>
        <div class="para3">
            <div class="para3__img d-flex align-items-center">
                <div class="para3__text mx-auto container">
                    <blockquote class="blockquote">
                        <p class="mb-0">"We are different, in essence, from other men. If you want to win something, run 100 meters. If you want to experience something, run a marathon."</p>
                        <footer class="blockquote-footer para3__footer"> Emil Zatopek, 1952 Olympic Marathon gold medalist</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <section class="section4 container">
            <h1 class="section4__head text-center">We specialise in</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-4 section4__pad">
                        <a href="marathon.html">
                            <div class="section4__img mx-auto">
                            </div>
                        </a>
                        <div class="section4__text text-center">
                            <h3>Marathon</h3>
                            <p>Marathon training will be challenging, but should be fun and enjoyable. Finishing a marathon is an accomplishment that less than 1% of people in the world can say they have achieved. You are about to be one of them!</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 section4__pad">
                        <a href="half.html">
                            <div class="section4__img mx-auto">
                            </div>
                        </a>
                        <div class="section4__text text-center">
                            <h3>Half Marathon</h3>
                            <p>Half marathon training (or mini marathon) will be challenging, but should be fun and enjoyable. Train right and enjoy lots of fun on the big day!</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 section4__pad">
                        <a href="10k5k.html">
                            <div class="section4__img mx-auto">
                            </div>
                        </a>
                        <div class="section4__text text-center">
                            <h3>10k & 5K</h3>
                            <p>10k & 5K training is a fun way to start running, lose weight, and feel great. It is also not as time consuming as marathon or half marathon training.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>