<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/../styles/injuryPrevention.css">
    <title>Injury Prevention</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/">
                <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="#"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Injury Prevention</h2>
            <p class="wave__text">
                Injury prevention is critical during training. Good shoes, good running form, good stretching, and adequate recovery after workouts will help to minimize the risk of injury.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 text-center">
                        <div class="container">
                            <p class="main__text">
                                Common running injuries are described below. Should you experience these symptoms of injury, treat them immediately. If you have to skip a run or two, that is okay. You can still finish the marathon or half marathon. However, if you ignore the symptoms, you could find yourself in trouble and never even reach the starting line on your big day. Injury prevention will be a very important part of your training.
                            </p>
                            <div class="container">
                                <ul class="list-group main__text spacer">
                                    <li class="list-group-item"><span class="list__title">Shin Splints</span>
                                        <p class="pspacer">
                                            <span class="list__title2">Symptoms:</span> Pain in the shins. Typically during runs and/or early in the morning. The pain may be dull at first and gradually increase during runs or throughout training. The pain is commonly caused by the detachment of the muscle to the bone. Stress fractures can result if not treated.<br>
                                            <span class="list__title2">Treatment:</span> Ice and rest. Take a day off and skip a run or two if you need to. Ice both shins for 15-20 minutes four times per day. Ibuprofen will also help.
                                        </p>
                                        <button class="btn see__btn text-center" type="button"><a href="shinSplints.html">See more</a></button>
                                    </li>
                                    <li class="list-group-item"><span class="list__title">Iliotibial Band Syndrome</span>
                                        <p class="pspacer">
                                            Knee pain and knee injuries, as a result of Iliotibial Band Syndrome, can be an extremely painful and frustrating injury that puts a big strain on both the knee and hip joints.
                                        </p>
                                        <button class="btn see__btn text-center" type="button"><a href="itband.html">See more</a></button>
                                    </li>
                                    <li class="list-group-item"><span class="list__title">Patellofemoral Pain Syndrome</span>
                                        <p class="pspacer">
                                            <span class="list__title2">Symptoms:</span> Pain around the kneecap. Pain is generally felt under the kneecap. It may begin as a dull pain that occurs during a run. The pain may become sharp as you run or it may simply go away. The pain is often felt when running downhill.<br>
                                            <span class="list__title2">Treatment:</span> Take time off from running. Consider skipping a run or two. Ice four times a day for 15-20 minutes each time. Make sure you are stretching properly and maybe add more stretching to your training. Instead of stretching once, stretch twice. Avoid downhill running.
                                        </p>
                                    </li>
                                    <li class="list-group-item"><span class="list__title">Plantar Fasciitis</span>
                                        <p class="pspacer">
                                            <span class="list__title2">Symptoms:</span> Pain in the foot between the heel and toes. Your foot may feel very tender when you begin a run or step out of bed in the morning.<br>
                                            <span class="list__title2">Treatment:</span> Take a day off and skip a run or two if you need to. Ice the area for 15-20 minutes four times per day. Take ibuprofen. Make sure you are stretching properly and maybe add more stretching to your training. Instead of stretching once, stretch twice.
                                        </p>
                                    </li>
                                    <li class="list-group-item"><span class="list__title">Achilles Tendonitis</span>
                                        <p class="pspacer">
                                            <span class="list__title2">Symptoms:</span> Pain along the calf muscle toward your foot.<br>
                                            <span class="list__title2">Treatment:</span> Take a day off and skip a run or two if you need to. Ice the area for 15-20 minutes four times per day. Take ibuprofen. Further stretch the calf muscles. If you begin to experience any of these pains, then treat them immediately.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text2">
                                If pain persists after treating for 2-3 weeks, then consider seeing your doctor. Injury prevention is critical to your success.<br>
                                Injury prevention is best done by awareness, ice, and rest. Extra stretching after runs or lifting weights can also help.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center order-md-first">
                        <div class="container">
                            <div class="injury1__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>