<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/../styles/inspirationalStories.css">
    <title>Inspirational Stories</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/">
                <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="#"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Inspirational Marathon Stories</h2>
            <p class="wave__text">Following are inspirational marathon stories submitted by runners to give you some added motivation.</p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer text-center">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text">
                                Why do you want to run a marathon? Whatever the reason, use it to drive you through training and the finish line whether it be a marathon or half marathon.
                                Here are some good ole' inspirational marathon stories that just may speak to you.<br>
                                Want to share your own story?
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="inspirationForm.html">Click here</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                My sister in law battled breast cancer in 2008. After several months of a hard fight, she was in remission. She was ready to start running again. Her plan was to begin training for the Disney Marathon in 2010.
                            </p>
                            <p class="main__text">
                                A few months later we were devastated to find out that the cancer had come back and spread very aggressively. Shortly thereafter, Amy was taken from us.
                            </p>
                            <p class="main__text">
                                On January 10, 2010 my brother (Amy's husband), Amy's Brother and his wife, and myself will run the Disney Marathon for Amy.
                            </p>
                            <p class="main__text2 has__bold">
                                Krista O.<br>
                                (Houston, TX)
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                Six months ago I was a pack a day smoker leading a sedentary lifestyle. As a former soccer player this, finally, became unacceptable.
                            </p>
                            <p class="main__text">
                                Using the program detailed on this site, I finished the United States Marine Corps Marathon yesterday! Earned. Never Given!
                            </p>
                            <p class="main__text">
                                My family lost our grandmother at the beginning of this year and when I decided that I would run the marathon, I knew that she would want me to raise money for autism research as we have a wonderful cousin who is autistic (she is also a Special Olympian).
                            </p>
                            <p class="main__text2 has__bold">
                                Mike P.<br>
                                (Annapolis, MD)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I recently retired and running my first marathon was on a "bucket list" of things to try. I was not much of runner previously, having only done a single 10K Nov. 2008. I followed closely the MarathonRookie.com training plan for 16 weeks.
                            </p>
                            <p class="main__text">
                                Yesterday, I ran the Cleveland Marathon and finished within my targeted time of beating 4 hours. I achieved 3:51 and was able to run the entire way. The MarathonRookie training plan was a huge help to me as I am not a part of any running group and do not have a lot of running friends from whom to derive much input. I just made the commitment 17 weeks ago that this was something I was going to do; I adopted the training plan and stuck to it faithfully.
                            </p>
                            <p class="main__text">
                                Training in Jan/Feb in Cleveland is hard given the weather but between using the treadmill and some breaks in the weather I was able to complete those early weeks of training. Cross-training also was a huge help. I did Pilates 2x/wk to help on core strength. I am 51 years old and was hardly much of an athlete before starting this. The training was a great guide to help me build up endurance.
                            </p>
                            <p class="main__text">
                                I don't know if I'll run another marathon in the future but I can look back on this experience proudly. There were many moments during miles 20-25 I wanted to stop and walk but I kept slapping down 1 foot after another and kept going. Hitting the finish line felt great.
                            </p>
                            <p class="main__text">
                                Thank you MarathonRookie for the simple training plan that I could readily adopt to help me through my first marathon.
                            </p>
                            <p class="main__text2 has__bold">
                                Daniel S.<br>
                                (Bay Village, OH)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row  spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I just ran my very first marathon (Wineglass Marathon in Corning, NY) yesterday, Oct. 4, 2009.
                            </p>
                            <p class="main__text">
                                I have always run but kicked it into high gear this year. After completing a 1/2 marathon in June I wondered if a marathon wasn't as out of reach as I had previously thought so I continued to train hard.
                            </p>
                            <p class="main__text">
                                In August, a friend of mine was diagnosed with Pancreatic Cancer. I committed to the marathon 2 days later. We are never guaranteed a "someday."
                            </p>
                            <p class="main__text">
                                I ran to honor her strength and positive spirit... and to show my 2 young daughters that anything is possible!!! I was never so proud as the moment my toes crossed that finish line!!!
                            </p>
                            <p class="main__text">
                                I not only finished, but also managed to rally friends to pledge money in honor of our friend and raise funds for a charity of her choosing..in a few short weeks we raised $800. What an accomplishment........
                            </p>
                            <p class="main__text2 has__bold">
                                Kelly A.<br>
                                (Deerfield, NY)
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I am 57 and a sailor on research vessels dealing with oceanograghy. I don't have the luxury of freedom to just run so when we get into port I'm off and jogging and walking.
                            </p>
                            <p class="main__text">
                                January of 2008 I came home on leave and after attending a wedding the night before I ran my first half marathon and came in last. I smiled and said next year the full marathon. January of 2009 after having run the docks of Taiwan, Phillipines, and Honolulu I finished the Disney marathon!
                            </p>
                            <p class="main__text">
                                During the race I visualized a young lady putting on my medal! I have a daughter who is a combat medic and try to ispire her as she is inspiring me. Our kids are losing it in today's society and by setting an example of great achievements with joy and hard work they can do it too.
                            </p>
                            <p class="main__text">
                                Just got back visiting my Dad on the greek isles and if you like running on quiet mountain roads no place like it on earth. Dad is 93 and he got a boost of life that his little son ran a marathon!
                            </p>
                            <p class="main__text2 has__bold">
                                Tony M.<br>
                                (Port St. Lucie, FL)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                Last year my 9 year old daughter was severly dehydrated from running a 1.5 miles at school in 100+ degree weather. We took her to the emergency room & our nightmare started there. They began testing her for leukemia. We went so many nights missing sleep, crying, worrying how would we get thru this? I found my outlet was running. And I made a promise to myself and my daughter that I would run a marathon for her if she'd just be strong and take an IV during one of the tests.
                            </p>
                            <p class="main__text">
                                So when we got the clean bill of health 7 months later, I found myself running every day thinking of her and how strong she is. I entered myself in my first ever half marathon & boy did I have doubts if I could do it. I trained from September to April and set a goal of 3 hours to finish the half marathon. And I did it in 2.49 hours.
                            </p>
                            <p class="main__text">
                                You may have doubt in yourself as I had in myself. The most encouraging thing I did for myself was keep telling myself that I am doing this half marathon cause I can. I can do it because my sick daughter became healthy again. She showed me strength and I knew I had to keep my promise to show her how strong I am and to accomplish things that you think you can't!
                            </p>
                            <p class="main__text">
                                The half marathon was amazing. At mile ten when my hip was hurting badly, my daughter was on the side line. I ran over to her and gave her the biggest hug I've ever given her and I took off running. I started crying cause I remembered why I started running in the first place & I got so inspired to make her proud at the finish line.
                            </p>
                            <p class="main__text">
                                So now I have to accomplish a full marathon to really hold true to my promise... I'm aiming for February 2010! And I can't wait!
                            </p>
                            <p class="main__text2 has__bold">
                                Tamara S.<br>
                                (Havasu City, AZ)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                My inspiration is a dear friend of mine that passed away on February 12, 2009. I had written to her in October to tell her that I wanted to run in a full marathon in her name and if possible together if she was in remission from Leukemia. Unfortunately she lost her battle, but she is forever in all of our hearts. So now I am sticking to what I said
                            </p>
                            <p class="main__text">
                                April 5, 2009 I will be in the Berlin Half Marathon and then in September I plan on doing the AF Marathon that I wrote to my friend about. I am doing this not only for just what I promised but to also better myself physically. I have never been much of a runner most miles I had done was mainly 3 milers, but now that has all changed and I am in to my half marathon training and things are coming along great! LOVESWEET!
                            </p>
                            <p class="main__text2 has__bold">
                                Amy M.<br>
                                (Ramstein, GERMANY)
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I have just signed up for the Carlsbad Marathon in Jan. 09, my first marathon. It is a bit overwhelming to now have that goal. I have been training for several years, and am up to 17 miles on my long runs, but 26 still seems like a lot. I have completed several half marathons, and have always wanted to push myself to the full marathon, now that I have signed up, it is scary, however, I feel it has given me additional motivation to increase my long runs. I am 48 years old, and hope to finish without walking, and come close to finishing under 4 hours. I guess it feels better just putting this down somewhere to talk about it.
                            </p>
                            <p class="main__text2 has__bold">
                                Dale B.<br>
                                San Diego, CA
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I wished I never had to admit to this, but I was seriously over weight and might of had a small drinking problem. I have a beautiful family with lots of support and upside.
                            </p>
                            <p class="main__text">
                                We started a biggest loser program at work and after several attempts at winning it, my weight loss was not enough until my 4th go around and I pulled out a win with the biggest PCT lost, what a feeling (my total loss is 42lbs).
                            </p>
                            <p class="main__text">
                                The weight loss was a combination of no drinking, (amazing how much better you feel in the morning) eating properly and exercise, no secret pill, be fair to your body. It started with the oh my good 5 min on the tread mill and when is it going to end, to now I can't wait to see if I can try some new interval training or push my pace time down 10 seconds over 5 miles. Well I ran in my first 1/2 marathon in Columbus and really just wanted to finish, because I had not ran that distance.
                            </p>
                            <p class="main__text">
                                My finish time was 1hr 48min 28sec and wow I'm still feeling it, I guess what I'm saying is I started at 5 min on the tread mill and now finished the Columbus 1/2 marathon and will be in the Florida 1/2 marathon in December and look out Detroit 2009 I'm training for the magic numbers 26.2
                            </p>
                            <p class="main__text">
                                Remember it's easier to stay in shape than get into shape!
                            </p>
                            <p class="main__text2 has__bold">
                                Greg S. <br>
                                New Baltimore, MI
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I am running the Free Press/Flagstar Full marathon in October 2008. My first full ever!
                            </p>
                            <p class="main__text">
                                I run in memory of my father, Ismael, who died of Alzheimer's in April 2004. I was very close to him and was his caregiver. It was difficult to see him go through that experience and decided that I was going to start living a life that challenged me to physically and mentally become a better person. A person I know that he would be proud of. I know that I can accomplish this but there are days...
                            </p>
                            <p class="main__text">
                                I'm committed to my training. There are days where I don't want to get up and go but I do it. Once I get moving... the body just follows. I love the General Patton quote - and I believe it because I have lived it. How ironic that Patton was one of my father's hero's in life... I'll keep you posted...
                            </p>
                            <p class="main__text2 has__bold">
                                Terri W.
                                <br>Canton, MI
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I ran the half marathon in 2008 and I am going to train for the full marathon in 2009.
                            </p>
                            <p class="main__text">
                                About four years ago I was ejected from a car window that fractured 7 bones in my back, snapped bones off in my neck, hemorrhaged my brain, and ruptured my spleen. After that I became addicted to many kinds of drugs and flunked out of school.
                            </p>
                            <p class="main__text">
                                One day I realized how fortunate I am and how selfish I had become. So I began to strengthen my body with my mother’s help. I moved out of state and my roommate that had no idea of my injuries challenged me to the music city half marathon.
                            </p>
                            <p class="main__text">
                                I couldn't financially afford to enter but I trained as if I could. One day I woke up and put on my Nike shoes and attached my Ipod transmitter and ran the whole thing in my neighborhood. I finished in 2 hours 2 minutes and 3 seconds.
                            </p>
                            <p class="main__text2 has__bold">
                                Kristin B.<br>
                                (Clarksville, TN)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row spacer">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                I had been running for three years and the thought of a full marathon seemed impossible. I volunteered at the finish line for last year's Philadelphia Marathon. I was inspired by the people who finished. Not just the sub 4 hours, but the people who ran it in 5 hours and up.
                            </p>
                            <p class="main__text">
                                I started training in January and after I built my base, I started on your 16 week plan. Your website has been an incredible boost to keep me on track. I was disappointed with my result, 5 hours and 39 minutes because I cramped the last six miles. It was the worst experience and I swore I would never do this again.
                            </p>
                            <p class="main__text">
                                Shortly after I crossed that finish line and put the medal around my neck, I started thinking about my next training run!
                            </p>
                            <p class="main__text">
                                I can't wait to run again and improve my time!
                            </p>
                            <p class="main__text2 has__bold">
                                Noel A.
                                <br>
                                Philadelphia, PA
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <p class="main__text has__dropcap">
                                Just finished my first marathon on Sunday, Carlsbad CA!
                            </p>
                            <p class="main__text">
                                My goal was to finish and I did! My secondary goal (and what I thought was a long shot) was to break 4 hours, which I did...3:49. Feels great to accomplish what I thought was not possible a year ago. The last five miles was a struggle, especially the last two. Next time, I'll stretch my long run training sessions out closer to 25 miles. I'm wearing my marathon finisher shirt at work today, and the world seems a better place!
                            </p>
                            <p class="main__text2 has__bold">
                                Dale B.<br>
                                San Diego, CA
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>