<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/../styles/marathon1.1.css">
    <title>Marathon1.1</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Marathon Training for Beginners </h2>
            <p class="wave__text">Are you a beginning runner? Already a runner? Haven’t run in a long time? Either way, you can finish a marathon. Learning some of the basics will help you get started.</p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <h2 class="main__head">Pre-Training:</h2>
                            <p class="main__text">
                                Before you begin marathon training, you should be able to run for at least 30 minutes without stopping. Distance is not important right now. You just need to get your body used to running.<br>
                                Combinations of run/walks are great to use during pre-training because they ease your body into the exercise and minimizes the chance of experiencing a running injury.<br>
                                It’s also a good idea at this point to go ahead and select a marathon and get signed up!
                            </p>
                            <h2 class="main__head">Training:</h2>
                            <p class="main__text2">
                                Your mileage should gradually increase each week with your longest run being 18-20 miles. You should then taper off in the final weeks leading up to the marathon to allow your body to recover from training and so you will be strong on marathon day. Having a 20-mile run under your belt will give you a major psychological advantage on marathon day.<br>
                                Following is a suggested beginner marathon training schedule. The schedule assumes you have been running for at least 6-10 weeks at can run for at least 30 minutes without stopping. See <span class="main__span">26-week schedule:</span>
                            </p>
                            <button class="btn see__btn text-center" id="buttonTarget" type="button" data-toggle="collapse" data-target="#schedule">See Schedule</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center p-0">
                        <h2 class="main__head"><span id="numIncrement">1</span>6-Week Training Plan</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Week</th>
                                    <th scope="col">Mon</th>
                                    <th scope="col">Tue</th>
                                    <th scope="col">Wed</th>
                                    <th scope="col">Thu</th>
                                    <th scope="col">Fri</th>
                                    <th scope="col">Sat</th>
                                    <th scope="col">Sun</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody class="collapse" id="schedule">
                                <tr>
                                    <th scope="row" class="align-middle">1</th>
                                    <td>Walk 20min</td>
                                    <td>Rest</td>
                                    <td>Walk 20min</td>
                                    <td>Walk 20min</td>
                                    <td>Rest</td>
                                    <td>Walk 20min</td>
                                    <td>Rest</td>
                                    <td>80min</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row" class="align-middle">2</th>
                                    <td>Run/Walk 20min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 20min</td>
                                    <td>Run/Walk 20min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 20min</td>
                                    <td>Rest</td>
                                    <td>80min</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">3</th>
                                    <td>Run/Walk 25min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 25min</td>
                                    <td>Run/Walk 25min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 25min</td>
                                    <td>Rest</td>
                                    <td>100min</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row" class="align-middle">4</th>
                                    <td>Run/Walk 30min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 30min</td>
                                    <td>Run/Walk 30min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 30min</td>
                                    <td>Rest</td>
                                    <td>120min</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">5</th>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>140min</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row" class="align-middle">6</th>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>Run/Walk 35min</td>
                                    <td>Rest</td>
                                    <td>140min</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Run 20min</td>
                                    <td>Rest</td>
                                    <td>Run 20min</td>
                                    <td>Run 20min</td>
                                    <td>Rest</td>
                                    <td>Run 20min</td>
                                    <td>Rest</td>
                                    <td>80min</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row">8</th>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 25min</td>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>100min</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 30min</td>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 40min</td>
                                    <td>Rest</td>
                                    <td>120min</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row">10</th>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 20min</td>
                                    <td>Run 25min</td>
                                    <td>Rest</td>
                                    <td>Run 30min</td>
                                    <td>Rest</td>
                                    <td>100min</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row"><span class="numToggles">1</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>15</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">2</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>6</td>
                                    <td>Rest</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">3</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>7</td>
                                    <td>Rest</td>
                                    <td>17</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">4</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>Rest</td>
                                    <td>19</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">5</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>10</td>
                                    <td>Rest</td>
                                    <td>21</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">6</span></th>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>11</td>
                                    <td>Rest</td>
                                    <td>24</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">7</span></th>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>6</td>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>12</td>
                                    <td>Rest</td>
                                    <td>26</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">8</span></th>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>6</td>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>14</td>
                                    <td>Rest</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">9</span></th>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>7</td>
                                    <td>4</td>
                                    <td>Rest</td>
                                    <td>16</td>
                                    <td>Rest</td>
                                    <td>31</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">10</span></th>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>16</td>
                                    <td>Rest</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">11</span></th>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>17</td>
                                    <td>Rest</td>
                                    <td>35</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">12</span></th>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>18</td>
                                    <td>Rest</td>
                                    <td>36</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">13</span></th>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>20</td>
                                    <td>Rest</td>
                                    <td>38</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">14</span></th>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Rest</td>
                                    <td>9</td>
                                    <td>Rest</td>
                                    <td>27</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="numToggles">15</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>8</td>
                                    <td>Rest</td>
                                    <td>19</td>
                                </tr>
                                <tr class="tr__style">
                                    <th scope="row"><span class="numToggles">16</span></th>
                                    <td>3</td>
                                    <td>Rest</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>Rest</td>
                                    <td>26.2</td>
                                    <td>Rest</td>
                                    <td>34.2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="mara1__img">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center ">
                        <div class="container">
                            <h2 class="main__head">Motivation:</h2>
                            <p class="main__text">
                                Building mental stamina is essential. It’s one thing to be motivated to begin training. It’s another to stay motivated every day. Naturally, we think running a marathon will not be easy. Even so, many finishers say it was even tougher than they thought. Staying motivated and developing the proper mindset is key to enjoying training and crossing the finish line with a smile on your face.
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="motivation.html">See more</a></button>
                            <h2 class="main__head">Goals:</h2>
                            <p class="main__text">
                                Finish time goals, weight loss goals, “just finish” goals…we all have a reason(s) for wanting to run a marathon. If your only goal is to lose weight, good luck. You’re likely to quit. You are likely to quit just like so many people who join health clubs each year for the same reason only to stop going after seeing little results in little time. You must have the right goals and reasons for running in order to be successful.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <h2 class="main__head">Hydration:</h2>
                            <p class="main__text">
                                On runs of an hour or more, carry fluids with you and consume 6-8 oz. every 20 minutes. During pre-training and marathon training, weigh yourself before and after each run to rehydrate and get your body weight back to the weight it was before the run by drinking water or sports drink within the first hours after the run.
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="hydration.html">See more</a></button>
                            <h2 class="main__head">Nutrition:</h2>
                            <p class="main__text">
                                Carbohydrates provide the fuel runners need. During marathon training, 65% of your total calories should come from carbohydrates, particularly complex carbohydrates. 10% should come from protein (you need 0.5 to 0.7 grams per pound of your body weight each day). 20-25% of your total calories should come from unsaturated fats. Be sure to get the nutrition you need to keep you strong and allow for adequate recovery.
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="nutrition.html">See more</a></button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <div class="mara2__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 order-md-last text-center">
                        <div class="container">
                            <h2 class="main__head">Recovery:</h2>
                            <p class="main__text">
                                Obviously, it is important to run as marathon training, but recovery is equally important. You should not run every day. Your body needs to rest between runs so it can recover from one run to the next, getting stronger between each run. Nutrition and eating the right foods at the right time also play a vital role in recovery. Take recovery days equally as serious as your running days.
                            </p>
                            <h2 class="main__head">Avoid injury:</h2>
                            <p class="main__text">
                                Use your non-running days to rest and recover. Ice down any soreness, particularly in knees or shins (most common) four times per day for 15-20 minutes. Injuries often sneak up without warning. Doing all the right things right will minimize your chances of injury.
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="injuryPrevention.html">See more</a></button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <div class="mara3__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <h2 class="main__head">Wear the right gear:</h2>
                            <p class="main__text2">
                                Treat your feet to a good pair of running shoes (or three!). Running shoes will be the most important piece of gear. Shoes are designed to fit feet with different arches, pronation, and more. Visit a local specialty running store to find the best shoes for your feet.
                            </p>
                            <h2 class="main__head">Marathon Day!</h2>
                            <p class="main__text2">
                                Tapering in the final weeks before the marathon will help your body recover from marathon training and be strong for your big day. You will also want to carbo-load the week leading up to the race. Given the atmosphere at most marathons, you will likely feel full of adrenaline after leaving the starting line. Remember though, marathons are about endurance and pace is critical. Maintain pace to save everything you have left for your big finish!
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <div class="mara4__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script type="text/javascript" src="js/marathon.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>