<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/racedaytips.css">
    <title>Race Day Tips</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="index.html">
                <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartrate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weighttraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="#"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Race Day Tips</h2>
            <p class="wave__text">
                Following are some marathon day tips to a fun and successful finish.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <div class="container">
                            <ul class="list-group main__text spacer">
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Start Slow:</span> Remember, conserving energy is critical in distance running, especially when it comes to running a marathon. If there is lots of traffic at the starting line (very likely if there are thousands of runners), just be patient and do not try to speed up and slow down to pass or weave between other runners. Save that energy for later.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Maintain a steady pace:</span>
                                        Enjoy the race day atmosphere and excitement, but remember to maintain your pace so you do not run out of steam too early.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Enjoy refreshments: </span>Before the race, know how far apart aid-stations will be located and plan how often you will need to consume fluids or snacks. You should consume 6-8 oz. of water or sports drink every 15-20 minutes to stay hydrated.
                                    </p>
                                    <button class="btn see__btn text-center" type="button"><a href="aidstations.html">Aid Stations</a></button>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Carry energy gel:</span> Consuming energy gel is a great way to replenish carbs (glycogen) during the run. They are light-weight, small, and easy to consume. Get one down just before reaching an aid-station so you can wash it down with fluid.
                                    </p>
                                    <p class="pspacer">
                                        Increase enjoyment and improve performance on your long runs by consuming energy gel. They come in small, easy-to-tote packs you can easily consume on the run. Wash them down with fluid as you hydrate.<br>
                                        Loaded with complex carbohydrates, most brands recommend consumption of one every 30-45 minutes while running.<br>
                                        You may find them at your local running store or order them online and have them delivered direct to your door.<br>
                                        You will need them during the marathon and should consume them during training so you do not expose your body to something it is not used on your big day.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Eat Safe:</span> Do not consume anything before or during the race that you have not consumed during training. Introducing a new type of food to your body may lead to an upset stomach and require unwanted stops at the portable restrooms during the marathon.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Dry clothes:</span> Have a change of clothes waiting for you after the finish so you can stay warm.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Enjoy a post-race snack:</span> Shortly after the finish, snack on a banana, bagel, energy bar or other item to replenish nutrients. Wash it down with water or sports drink.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Conserve energy:</span> If you feel really strong during the run (you probably will), resist the urge to run faster than your pace early on. Conserve that energy to finish strong the last few miles. If you push too soon, you just might crash and be in for a grueling experience late in the race. Remember your goal.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Don't forget to stretch:</span> Be sure to stretch good after the finish. You will likely feel invincible after you cross the finish line, but treat your body to some good post-race stretching and it will reward you with less soreness in the next few days.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Plan ahead:</span> Lay out your running gear the night before race day. You do not want to find yourself scrambling to find your chip timer or bib pins in the morning. Even worse, you don’t want to be at the starting line and realize you forgot your timer, energy gel, or anything else you may need.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Fan support:</span> Hearing positive words from supporters will provide a lift for you throughout the race. Consider printing your name on your short and you will get an even greater lift when total strangers will cheer you on.
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="pspacer">
                                        <span class="list__title2">Support others:</span> If you find yourself passing other runners late in the run, encourage them by simply saying “keep it up, you’re looking good” or “great job, you’re almost there” or anything positive and encouraging. It just might be the lift they need.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>