<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/runningmovies.css">
    <title>Running Movies</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="/contact"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/marathon"> - Marathon</a>
                            <a class="dropdown-item" href="/half"> - Half Marathon</a>
                            <a class="dropdown-item" href="/10k5k"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/motivation"> - Motivation</a>
                            <a class="dropdown-item" href="/hydration">- Hydration</a>
                            <a class="dropdown-item" href="/nutrition">- Nutrition</a>
                            <a class="dropdown-item" href="/heartrate"> - Heart Rate</a>
                            <a class="dropdown-item" href="/runningform"> - Running Form</a>
                            <a class="dropdown-item" href="/stretching"> - Stretching</a>
                            <a class="dropdown-item" href="/crosstraining"> - Cross Training</a>
                            <a class="dropdown-item" href="/weighttraining"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="/injuryprevention"> - Injury Prevention</a>
                            <a class="dropdown-item" href="/safetyfirst"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="/rookiemistakes"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="/thewall"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="/racedaytips"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newsletter"> - Newsletter</a>
                            <a class="dropdown-item" href="/contact"> - Contact</a>
                            <a class="dropdown-item" href="/rungear"> - Running Gear</a>
                            <a class="dropdown-item" href="/storedirectory"> - Store Directory</a>
                            <a class="dropdown-item" href="#"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="/inspirationalstories"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="/articles"> - Articles</a>
                            <a class="dropdown-item" href="/ebooks"> - eBooks</a>
                            <a class="dropdown-item" href="/faqs"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="/contact"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Running Movies</h2>
            <p class="wave__text">
                There are lots of great running movies out there for entertainment and inspiration. If you are not already an avid runner, watching running movies is a great, easy way to educate and motivate yourself by watching a variety of films. They can also give you a view from a runner’s perspective of what it takes to be successful and achieve your running goals. If you are already an avid runner, you’ll appreciate these films even more.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container spacer">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <h5 class="media__header text-center"><a href="https://www.amazon.com/Without-Limits-Billy-Crudup/dp/0790739291/sr=1-1/qid=1162563365?ie=UTF8&s=dvd">Without Limits</a></h5>
                            <p class="media__text">
                                is a movie about the running life of Steve Prefontaine (a.k.a. Pre). Pre is known to many as the best American distance runner ever. This movie shows why. The records he broke are one thing, but his spirit and willingness to lay it all on the line every race is another. Starring Billy Crudup as Prefontaine and Donald Sutherland as legendary coach Bill Bowerman, this is a great, entertaining movie about the life of Pre.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <img src="/img/film2.jpg" class="media__img align-self-center" alt="...">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center spacer2">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <h5 class="media__header text-center"><a href="https://www.amazon.com/Saint-Ralph-Jeff-Baxter-IV/dp/B000BMY2LK/sr=8-1/qid=1162563259?ie=UTF8&s=dvd">Saint Ralph</a></h5>
                                <p class="media__text">
                                    is fictional movie about a 14-year-old Catholic schoolboy with raging hormones and a foul mouth who determines that he must create a miracle in order to save his mom who has fallen into a coma. His miracle? To win the Boston Marathon! Ralph’s curiosity for the opposite sex and bad language get him into big trouble with his headmaster who tells Ralph that his punishment will be to run on the cross country team. Then, the dream was born. Saint Ralph is a hilarious, entertaining, inspiring movie that most runners would enjoy. The biggest drawback to some may be lots of profanity in the movie.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="/img/film3.jpg" class="media__img align-self-center" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <h5 class="media__header text-center"><a href="https://www.amazon.com/Prefontaine-Jared-Leto/dp/B000068MC2/sr=1-2/qid=1162563424?ie=UTF8&s=dvd">Prefontaine</a></h5>
                                <p class="media__text">
                                    is another film that provides a look into the running life of Steve Prefontaine. Much like Without Limits, this movie is entertaining and inspiring. Both are excellent and a must see for anyone who enjoys running movies.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="/img/film4.jpg" class="media__img align-self-center" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <h5 class="media__header text-center"><a href="https://www.amazon.com/Chariots-Two-Disc-Special-Hugh-Hudson/dp/B0006HBLUA/sr=1-1/qid=1162563503?ie=UTF8&s=dvd">Chariots of Fire</a></h5>
                                <p class="media__text">
                                    is considered by many to be the greatest running movie of all time. Winner of the 1981 Academy Award for Best Picture, this film is a true story of two Olympic runners who won gold in the 1924 Olympics..
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="/img/film5.jpg" class="media__img align-self-center" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <h5 class="media__header text-center"><a href="https://www.amazon.com/Running-Brave/dp/B00097E6TU/sr=1-3/qid=1162563461?ie=UTF8&s=dvd">
                                        Running Brave</a></h5>
                                <p class="media__text">
                                    is the story of Billy Mills, an American Indian and winner of the 10,000 meters at the 1964 Olympics. The win is considered to be one of the biggest upsets in Olympic history.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <div class="container">
                                <img src="/img/film6.jpg" class="media__img align-self-center" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="/contact"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>