<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../styles/runningForm.css">
    <title>Running Form</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="#"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="weightTraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Running Form</h2>
            <p class="wave__text">
                We all know how to run, right? But do we know proper distance running form? We’ve done it since we learned to walk. After our first steps, we are ready to conquer the world! But are you running right to allow yourself to successfully train for and finish your first marathon or half marathon?
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center order-md-last">
                        <div class="container">
                            <p class="main__text">
                                For short distances, the runner should run “on their toes”. However, this is not true with distance runners. The proper distance running form is for the heels to make contact with the ground first or to run flat-footed.<br>
                                Arms should be relaxed at about a 90-degree angle and by your side. The main thing is that your arms are relaxed. As you increase distance you will likely find your arms and shoulders to tense up. Relax them by shaking out the tension. One effective way to do this is to simply straighten your arms down by your side and shake your hands and arms for a few seconds until they feel relaxed. Another way is to extend both hands over your head to stretch them out.
                            </p>
                            <p class="main__text2">
                                Run low to the ground. Use energy to propel yourself forward, not vertical. Focus on an object ahead of you while you run. If you see it going up and down or feel yourself going up and down, then you are running too vertical. Keep your feet low and going forward. This will save energy and get you to the finish line faster.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="form1__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text">
                                You should be running at a pace that is comfortable to you where you can relax and maintain good running form. Run with your mouth open to allow you to easily breathe. Breathe in-in, out-out. Make a pattern of breathing step-by-step. In-In, Out-Out, In-In, Out-Out.
                            </p>
                            <p class="main__text">
                                Posture is also critical and can be used to your advantage. You should be running with your back straight and your chest slightly leading the way. As you move into longer runs, you will find yourself beginning to slump over a bit. It is important that you realize this is happening so you may correct it. When you feel yourself slumping over, simply poke your chest out. Not only will you feel more comfortable physically, but you will also feel better mentally as you will feel a surge of confidence by simply poking out your chest. Be relaxed and confident and you will cross the finish line with your chest out and head high.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="form2__img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center order-md-last">
                        <div class="container">
                            <h2 class="main__head">Pace:</h2>
                            <p class="main__text">
                                The marathon training pace you should choose should be whatever is comfortable for you and allows you to complete each training run. After beginning to run, you may find that you were born to run. You may also find that running is enjoyable and fun, but does not come easy. The pace you choose should allow you to complete your training runs which will lead to achieving your goal.
                            </p>
                            <p class="main__text2">
                                Do not set a time goal. Let me say that again. Do not set a time goal! At the most, think, “it would be nice to run” under a specific time. Why the heck would I not want to set a time goal? I know, I struggled with that idea as well, but here is why: Your goal is to successfully train for and finish a marathon or half marathon. As a non-runner, or even a veteran runner, you dramatically increase the likelihood of injury by demanding a set time during your training runs and the marathon or half marathon run. If you push yourself too much, then you may not even make it to the starting line on the big day, much less achieve your goal.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="form3__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text">
                                What if you have a time goal and finish the race, but do not hit your time goal? How will you feel? Will you feel you have accomplished anything? Finishing a marathon or half marathon is an incredible feat that very, very few people in the world can say they have accomplished. Remember your goal.
                            </p>
                            <p class="main__text">
                                Run at a pace comfortable to you and that allows you to finish your runs. To figure your pace time, use the <a href="http://www.racingbuddy.com/Pace.aspx">Racing Buddy Pace Calculator.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="form4__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>