<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/shinsplints.css">
    <title>Shin Splints</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="/contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/index.html">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="/half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="/10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="/hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="/nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="/heartrate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="/runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="/stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="/crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="/weighttraining.html"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="/injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="/safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="/rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="/thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="/racedaytips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="/contact.html"> - Contact</a>
                            <a class="dropdown-item" href="/rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="/storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="/runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="/inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="/articles.html"> - Articles</a>
                            <a class="dropdown-item" href="/ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="/faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Shin Splints</h2>
            <p class="wave__text">
                Shin splints are one of the most common injuries known to athletes.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text">
                                Shin splints are a term commonly used to describe most lower leg pain. However, shin splints are only one of several conditions that affect the lower leg. The most common causes of lower leg pain are: general shin soreness; shin splints; and stress fractures. For the purpose of this article, I'll only be addressing the first two. I'll save the topic of stress fractures for another issue.
                            </p>
                            <p class="main__text">
                                Before I move on to shin splints, I want to quickly cover the topic of general shin soreness. Shin soreness is simply a muscular overuse problem. By using the R.I.C.E.R. regime you'll be able to overcome 95 percent of all general shin soreness within about 72 hours.<br>
                                For lower leg pain that goes beyond general shin soreness, a more aggressive approach must be taken. Lets now have a look at shin splints in a little more detail.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <h2 class="main__head">What are Shin Splints?</h2>
                            <p class="main__text2">
                                As you can see from the diagram to the right, there are many muscles and tendons that make up the lower leg, or calf region. It's quite a complex formation of inter-weaving and over-crossing muscles and tendons.
                            </p>
                            <p class="main__text">
                                The main components of the lower leg that are affected by the pain associated with shin splints are:<br>
                                <span class="list__title2">The Tibia and Fibula.</span> These are the two bones in the lower leg. The tibia is situated on the medial, or inside of the lower leg. While the fibula is situated on the lateral, or outside of the lower leg.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center pspacer">
                        <div class="splints2__img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center text-center">
                    <div class="col-12">
                        <div class="container">
                            <p class="main__text">
                                There are also a large number of the muscles that attach to the tibia and fibula. It's these muscles, when overworked, that pull on the tibia and fibula and cause the pain associated with shin splints.<br>
                                Specifically, the pain associated with shin splints is a result of fatigue and trauma to the muscle's tendons where they attach themselves to the tibia. In an effort to keep the foot, ankle and lower leg stable, the muscles exert a great force on the tibia. This excessive force can result in the tendons being partially torn away from the bone.<br>
                            </p>
                            <h2 class="main__head text-center">What Causes Shin Splints?</h2>
                            <p class="main__text">
                                While there are many causes of shin splints, they can all be categorized into two main groups. Overload (or training errors), and Biomechanical Inefficiencies.
                            </p>
                            <p class="main__text text-center">
                                <span class="list__title2">Overload</span> (or training errors):
                            </p>
                            <p class="main__text">
                                Shin splints are commonly associated with sports that require a lot of running or weight bearing activity. However, it is not necessarily the added weight or force applied to the muscles and tendons of the lower leg, but rather the impact force associated with running and weight bearing activities.
                            </p>
                            <p class="main__text">
                                In other words, it's not the running itself, but the sudden shock force of repeated landings and change of direction that causes the problem. When the muscles and tendons become fatigued and overloaded, they lose their ability to adequately absorb the damaging shock force.<br>
                                Other overload causes include:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="container">
                            <ul class="list-group main__text spacer text-center">
                                <li class="list-group-item"> Exercising on hard surfaces, like concrete;</li>
                                <li class="list-group-item"> Exercising on uneven ground;</li>
                                <li class="list-group-item">Beginning an exercise program after a long lay-off period;</li>
                                <li class="list-group-item">Increasing exercise intensity or duration too quickly;</li>
                                <li class="list-group-item">Exercising in worn out or ill fitting shoes;</li>
                                <li class="list-group-item">Excessive uphill or downhill running.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text2">
                                <span class="list__title2">Biomechanical Inefficiencies</span>
                            </p>
                            <p class="main__text2">
                                The major biomechanical inefficiency contributing to shin splints is that of flat feet. Flat feet lead to a second biomechanical inefficiency called over-pronation. Pronation occurs just after the heal strikes the ground. The foot flattens out, and then continues to roll inward.
                            </p>
                            <p class="main__text spacer2">
                                Over-pronation occurs when the foot and ankle continue to roll excessively inward. This excessive inward rolling causes the tibia to twist, which in-turn, over stretches the muscles of the lower leg.<br>
                                Other biomechanical causes include:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <ul class="list-group main__text2 spacer">
                                <li class="list-group-item"> Poor running mechanics;</li>
                                <li class="list-group-item"> Tight, stiff muscles in the lower leg;</li>
                                <li class="list-group-item">Running with excessive forward lean;</li>
                                <li class="list-group-item">Running with excessive backwards lean;</li>
                                <li class="list-group-item">Landing on the balls of your foot; ands;</li>
                                <li class="list-group-item">Running with your toes pointed outwards.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center order-md-first">
                        <div class="container">
                            <div class="splints1__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <div class="container">
                            <h2 class="main__head">How to Prevent Shin Splints!</h2>
                            <p class="main__text2">
                                Prevention, rather than cure, should always be your first aim. I was very surprised when researching this topic at the number of articles that totally neglected any mention of preventative measures. They all talked of treatment and cure, but only one out of twenty took the time to address the issue of prevention in any detail.
                            </p>
                            <p class="main__text2">
                                Even before any sign of shin soreness appears there are a number of simple preventative measures that can be easily implemented.
                            </p>
                            <p class="main__text2">
                                Since about half of all lower leg problems are caused by biomechanics inefficiencies, it makes sense to get the right advice on footwear. Your feet are the one area you should not "skimp" on. The best advice I can give you concerning footwear, is to go and see a qualified podiatrist for a complete foot-strike, or gait analysis. They will be able to tell you if there are any concerns regarding the way your foot-strike or gait is functioning.
                            </p>
                            <p class="main__text2">
                                After your foot-strike has been analysed, have your podiatrist, or competent sports footwear sales person recommend a number of shoes that suit your requirements. Good quality footwear will go a long way in helping to prevent many lower leg problems. Apart from good footwear, what else can you do? I believe the following three preventative measures are not only very effective, but crucial.
                            </p>
                            <p class="main__text2">
                                <span class="list__title2">Firstly,</span> a thorough and correct warm up will help to prepare the muscles and tendons for any activity to come. Without a proper warm up the muscles and tendons will be tight and stiff. There will be limited blood flow to the lower legs, which will result in a lack of oxygen and nutrients for those muscles.
                            </p>
                            <p class="main__text2">
                                Before any activity be sure to thoroughly warm up all the muscles and tendons that will be used during your sport or activity.
                            </p>
                            <p class="main__text2">
                                <span class="list__title2">Secondly,</span> flexible muscles are extremely important in the prevention of most lower leg injuries. When muscles and tendons are flexible and supple, they are able to move and perform without being over stretched. If however, your muscles and tendons are tight and stiff, it is quite easy for those muscles and tendons to be pushed beyond their natural range of movement.
                            </p>
                            <p class="main__text2">
                                To keep your muscles and tendons flexible and supple, it is important to undertake a structured stretching routine. For a comprehensive reference of over 100 clear photographs of every possible sports related stretch, consider getting a copy of The Stretching Handbook. If you're interested in stretches for the lower legs, The Stretching Handbook has 22 different stretches you can do.<a href="https://stretchcoach.com/"> Order your copy now!</a>
                            </p>
                            <p class="main__text2">
                                And <span class="list__title2">thirdly,</span> strengthening and conditioning the muscles of the lower leg will also help to prevent shin splints.<br>
                            </p>
                            <h2 class="main__head">How to Treat Shin Splints!</h2>
                            <p class="main__text2">
                                Firstly, be sure to remove the cause of the problem. Whether is be a biomechanical problem, or an overload problem, make sure steps are taken to remove the cause.
                            </p>
                            <p class="main__text2">
                                The basic treatment for shin splints is no different to most other soft tissue injuries. Immediately following the onset of any shin pain, the R.I.C.E.R. regime should be applied. This involves <span class="list__title2">R</span>est, <span class="list__title2">I</span>ce, <span class="list__title2">C</span>ompression, <span class="list__title2">E</span>levation, and <span class="list__title2">R</span>eferral to an appropriate professional for an accurate diagnosis. It is critical that the R.I.C.E.R. regime be implemented for at least the first 48 to 72 hours. Doing this will give you the best possible chance of a complete and full recovery.
                            </p>
                            <p class="main__text2">
                                The next phase of treatment (after the first 48 to 72 hours) involves a number of physiotherapy techniques. The application of heat and massage is one of the most effective treatments for speeding up the healing process of the muscles and tendons.
                            </p>
                            <p class="main__text2">
                                I have found, both from personal experience and from working with many clients, that this form of treatment is the most effective. The application of heat and deep tissue massage on the effected area seems to bring the best results. If you suffer from shin splints, be sure to spend at least a few minutes massaging the effected area both before and after you exercise.
                            </p>
                            <p class="main__text2">
                                Once most of the pain has been reduced, it is time to move onto the rehabilitation phase of your treatment. The main aim of this phase it to regain the strength, power, endurance and flexibility of the muscle and tendons that have been injured.
                            </p><br><br>
                            <p class="main__text2">
                                &#169; 2003, Walkerbout Health. All rights reserved. This article may be re-published in complete form, as long as the following paragraph and URL are included.
                            </p>
                            <p class="main__text">
                                Article by Brad Walker. Brad is a leading stretching and sports injury consultant with over 15 years experience in the health and fitness industry. For more articles on the prevention & treatment of sports injury, subscribe to The Stretching & Sports Injury Newsletter
                            </p>
                            <button class="btn see__btn text-center" type="button"><a href="http://www.thestretchinghandbook.com">See more</a></button>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>