<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/storedirectory.css">
    <title>Store Directory</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="/img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="/contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a href="/index.html">
                <img class="navhead__img" src="/img/rookielogo1.svg" alt="run icon">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/marathon.html"> - Marathon</a>
                            <a class="dropdown-item" href="/half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="/10k5k.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="/hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="/nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="/heartrate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="/runningform.html"> - Running Form</a>
                            <a class="dropdown-item" href="/stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="/crosstraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="/weighttraining.html

                            "> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="/injuryprevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="/safetyfirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="/rookiemistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="/thewall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="/racedaytips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newsletter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="/contact.html"> - Contact</a>
                            <a class="dropdown-item" href="/rungear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="/storedirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="/runningmovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="/inspirationalstories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="/articles.html"> - Articles</a>
                            <a class="dropdown-item" href="/ebooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="/faqs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Running Shoe Store Directory</h2>
            <p class="wave__text">
                Use this running shoe store directory to find a local running store near you.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 text-center">
                        <div class="container">
                            <p class="main__text">
                                Most, if not all, of these stores are owned and operated by runners who can help to get you into the right shoe for you.<br>
                                This section is NEW to the site and is by no means a complete list of running shoe stores. If you would like to have a store added, please send an email with the site URL and it will be added to the directory.
                            </p>
                            <div class="container text-center">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-active main__head">
                                            <th class="align-middle" scope="col">Stores by State</th>
                                            <th class="align-middle" scope="col">Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="align-middle sub__head">Alaska </th>
                                            <td><img class="table__photo" src="/img/store1.svg" alt="alaskaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Skinny Raven Sports (Anchorage, AK)</td>
                                            <td class="align-middle"><a href="http://www.skinnyravensports.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Arizona </th>
                                            <td><img class="table__photo" src="/img/store2.jpg" alt="arizonFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Performance Footwear (Tucson, Tempe, & Nogales)
                                            </td>
                                            <td class="align-middle"><a href="http://www.performancefootwear.net/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Scottsdale Running Co. (Scottsdale, AZ)
                                            </td>
                                            <td class="align-middle"><a href="http://www.scottsdalerunningco.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">California </th>
                                            <td><img class="table__photo" src="/img/store3.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Athletic Performance (Los Gatos, CA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.athletic-performance.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">MetroSport Running Specialties (San Francisco, Palo Alto, Cupertino, & San Jose)
                                            </td>
                                            <td class="align-middle"><a href="http://www.e-metrosport.com/index.asp"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">New Balance Fresno (Fresno, CA)
                                            </td>
                                            <td class="align-middle"><a href="www.newbalancewest.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Road Runner Sports (Anaheim, San Diego, San Carlos, Laguna Hills, Concord)
                                            </td>
                                            <td class="align-middle"><a href="www.roadrunnersports.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Running Center (Redlands, Carlsbad, & Temecula)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runningcenters.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Transports (Oakland)
                                            </td>
                                            <td class="align-middle"><a href="http://www.transportsrunswim.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Up & Running (Cupertino)
                                            </td>
                                            <td class="align-middle"><a href="http://www.upandrunning-ca.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Colorado </th>
                                            <td><img class="table__photo" src="/img/store4.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Runner’s Roost (Denver, CO)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runnersroost.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Connecticut </th>
                                            <td><img class="table__photo" src="/img/store5.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Sound Runner (Branford, CT)
                                            </td>
                                            <td class="align-middle"><a href="http://www.soundrunner.net/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Florida </th>
                                            <td><img class="table__photo" src="/img/store6.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">The Runner’s High (Miami, FL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.therunnershigh.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Illinois </th>
                                            <td><img class="table__photo" src="/img/store7.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Running Away Multisport (Chicago, IL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runningawaymultisport.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Chicago, IL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetchicago.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Universal Sole (Chicago, IL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.universalsole.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Dick Pond Athletics, Inc. (7 locations
                                            </td>
                                            <td class="align-middle"><a href="http://www.dickpondathletics.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Running Unlimited (Palatine, IL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runningunlimited.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Springfield Running Center (Springfield, IL)
                                            </td>
                                            <td class="align-middle"><a href="http://www.therunnershigh.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">The Competitive Foot (Oak Park & Western Springs)
                                            </td>
                                            <td class="align-middle"><a href="http://www.competitivefoot.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Kansas </th>
                                            <td><img class="table__photo" src="/img/store8.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Metro Walk & Run (Overland Park, KS)
                                            </td>
                                            <td class="align-middle"><a href="http://www.metrowalkandrun.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Kentucky </th>
                                            <td><img class="table__photo" src="/img/store9.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Swags Sport Shoes (Louisville, KY)
                                            </td>
                                            <td class="align-middle"><a href="http://www.swagssportshoes.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Maryland </th>
                                            <td><img class="table__photo" src="/img/store10.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">RNJ Sports (Rockville, MD)
                                            </td>
                                            <td class="align-middle"><a href="http://rnjsports.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Annapolis, MD)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetannapolis.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Gaithersburg, MD)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetgaithersburg.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Nevada </th>
                                            <td><img class="table__photo" src="/img/store11.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Red Rock Running Company (Las Vegas, NV)
                                            </td>
                                            <td class="align-middle"><a href="www.redrockrunningcompany.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">New Balance (Las Vegas, Henderson, Reno)
                                            </td>
                                            <td class="align-middle"><a href="www.newbalancewest.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">New Hampshire </th>
                                            <td><img class="table__photo" src="/img/store12.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Runner's Alley (Portsmouth and Manchester, NH)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runnersalley.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Ted's Shoe & Sport (Keene, NH)
                                            </td>
                                            <td class="align-middle"><a href="http://www.tedsports.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">New Jersey </th>
                                            <td><img class="table__photo" src="/img/store13.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Mahway, NJ)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetmahwah.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">North Carolina </th>
                                            <td><img class="table__photo" src="/img/store14.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Charlotte Running Co. (Charlotte, NC)
                                            </td>
                                            <td class="align-middle"><a href="http://www.charlotterunning.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Raleigh Running Outfitters (Raleigh, NC)
                                            </td>
                                            <td class="align-middle"><a href="http://www.raleighrunning.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Run For Your Life (Charlotte, NC)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runforyourlife.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Mahway, NJ)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetmahwah.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Ohio </th>
                                            <td><img class="table__photo" src="/img/store15.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Bob Ronker’s Running Spot (Cincinnati, Loveland, & Glendale)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runningspot.com/index.php"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Pennsylvania </th>
                                            <td><img class="table__photo" src="/img/store16.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Up-N-Running (Valencia, PA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.RunPA.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet Sports (Pittsburgh, PA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetpittsburgh.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Elite Runners & Walkers (Pittsburgh, PA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.eliterunners.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Tennessee </th>
                                            <td><img class="table__photo" src="/img/store17.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet (Murfreesboro)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeetmurfreesboro.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Texas </th>
                                            <td><img class="table__photo" src="/img/store18.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fleet Feet (Houston)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fleetfeethouston.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Luke’s Locker (The Woodlands – Colleyville - Dallas – Ft. Worth – Houston)
                                            </td>
                                            <td class="align-middle"><a href="http://www.lukeslocker.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">RunTex (Austin & Round Rock)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runtex.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Virginia </th>
                                            <td><img class="table__photo" src="/img/store19.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Charlottesville Running Company (Charlottesville, VA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.charlottesvillerunningcompany.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Final Kick Sports (Virginia Beach, VA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.finalkick.com/index.php"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Ragged Mountain Running Shop (Charlottesville, VA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.raggedmountainrunning.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Riverside Runners (Lynchburg, VA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.riversiderunners.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Runner Bill’s Sports (Midlothian, VA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runnerbill.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Running etc. (Norfolk & Virginia Beach)
                                            </td>
                                            <td class="align-middle"><a href="http://www.runningetc.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Washington </th>
                                            <td><img class="table__photo" src="/img/store20.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Fairhaven Runners (Bellingham, WA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.fairhavenrunners.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Road Runner Sports (Seattle, WA)
                                            </td>
                                            <td class="align-middle"><a href="www.roadrunnersports.com"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Seattle Running Company (Seattle, WA)
                                            </td>
                                            <td class="align-middle"><a href="http://www.seattlerunningcompany.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                        <tr class="justify-content-between">
                                            <th class="align-middle sub__head">Wisconsin </th>
                                            <td><img class="table__photo" src="/img/store21.jpg" alt="californiaFlag"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-1 align-middle">Movin’ Shoes (Madison, WI)
                                            </td>
                                            <td class="align-middle"><a href="http://www.movinshoesmadison.com/"><i class="fas fa-running td-2"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="/contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>