<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../styles/weightTraining.css">
    <title>Weight Training</title>
</head>

<body>
    <div class="container prehead__hider">
        <div class="prehead d-flex justify-content-between">
            <div class="prehead__logo">
                <img class="prehead__img" src="img/rookielogo1.svg" alt="run icon">
            </div>
            <div class="prehead__contact">
                <p class="a__style"><a href="contact.html"><span class="prehead__envelope"><i class="fas fa-envelope"></i></span> brad@marathonrookie.com</a></p>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img class="navhead__img" src="img/rookielogo1.svg" alt="run icon">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars burger__bar"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse vh__100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center level1">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Plans <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="marathon1.1.html"> - Marathon</a>
                            <a class="dropdown-item" href="half.html"> - Half Marathon</a>
                            <a class="dropdown-item" href="10K5K.html"> - 10K & 5K</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link active__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training Context <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="motivation.html"> - Motivation</a>
                            <a class="dropdown-item" href="hydration.html">- Hydration</a>
                            <a class="dropdown-item" href="nutrition.html">- Nutrition</a>
                            <a class="dropdown-item" href="heartRate.html"> - Heart Rate</a>
                            <a class="dropdown-item" href="runningForm.html"> - Running Form</a>
                            <a class="dropdown-item" href="stretching.html"> - Stretching</a>
                            <a class="dropdown-item" href="crossTraining.html"> - Cross Training</a>
                            <a class="dropdown-item" href="#"> - Weight Training</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Train Safe <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-wrap" href="injuryPrevention.html"> - Injury Prevention</a>
                            <a class="dropdown-item" href="safetyFirst.html"> - Safety First</a>
                            <a class="dropdown-item text-wrap" href="rookieMistakes.html"> - Rookie Mistakes</a>
                            <a class="dropdown-item" href="theWall.html"> - The Wall</a>
                            <a class="dropdown-item text-wrap" href="raceDayTips.html"> - Race Day Tips</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources <i class="fas fa-angle-down rotate"></i>
                        </a>
                        <div class="dropdown-menu text-center level2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="newsLetter.html"> - Newsletter</a>
                            <a class="dropdown-item" href="contact.html"> - Contact</a>
                            <a class="dropdown-item" href="runGear.html"> - Running Gear</a>
                            <a class="dropdown-item" href="storeDirectory.html"> - Store Directory</a>
                            <a class="dropdown-item" href="runningMovies.html"> - Running Movies</a>
                            <a class="dropdown-item text-wrap" href="inspirationalStories.html"> - Inspirational Stories</a>
                            <a class="dropdown-item" href="articles.html"> - Articles</a>
                            <a class="dropdown-item" href="eBooks.html"> - eBooks</a>
                            <a class="dropdown-item" href="FAQs.html"> - FAQs</a>
                        </div>
                    </li>
                    <li class="nav-item contact__margin contact__hide">
                        <p>Contact</p>
                    </li>
                    <li class="nav-item contact__hide">
                        <p>brad@marathonrookie.com</p>
                    </li>
                    <div class="d-flex mx-auto">
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item contact__icons contact__hide"><a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <section class="wave">
        <div class="container">
            <h2 class="wave__header">Marathon Weight Training</h2>
            <p class="wave__text">
                Marathon weight training provides lots of benefits, but is not a requirement for success. Again, you DO NOT have to lift weights during training to finish a marathon or half marathon.
            </p>
        </div>
        <div class="custom-shape-divider-bottom-1601461848">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 text-center">
                        <div class="container">
                            <p class="main__text">
                                Some of the benefits of <a href="https://www.amazon.com/exec/obidos/tg/detail/-/193254920X/qid=1122732186/sr=8-10/ref=sr_8_xs_ap_i10_xgl14?v=glance&s=books&n=507846">marathon weight training</a> include increased strength, toned appearance and increased confidence. If you choose to lift weights, do it on your non-running days. Otherwise, you may find your muscles to be tight and the run to be very uncomfortable. Light weights and high repetition are preferred for runners in training.<br>
                                Should you choose to lift weights, the following exercises are recommended:
                            </p>
                            <div class="container">
                                <ul class="list-group main__text spacer">
                                    <li class="list-group-item"><span class="list__title">Bench Press</span><span class="list__rep"> (2 x 12)</span>: You should perform two sets of twelve repetitions. Use weight that you can easily complete two sets of twelve repetitions without the assistance of a spotter. I am not saying to not use a spotter, rather that your spotter should not have to assist you in completing these two sets.</li>
                                    <li class="list-group-item"><span class="list__title">Dumbell Curls</span><span class="list__rep"> (2 x 12)</span>: Use weight you can do two sets of twelve repetitions.</li>
                                    <li class="list-group-item"><span class="list__title">Lat Pulls</span><span class="list__rep"> (2 x 12)</span>: Use weight you can pull down and finish two sets of twelve repetitions.</li>
                                    <li class="list-group-item"><span class="list__title">Back Extensions</span><span class="list__rep"> (2 x 12)</span>: Do not use weight for this one. For marathon training, simply performing the exercise in enough.</li>
                                    <li class="list-group-item"><span class="list__title">Sit Ups</span><span class="list__rep"> (2 x 15)</span>: Repetitions can really vary on this one depending on your choice and how easily you can do sit-ups. This can be a confidence booster if you can tone your abs. Just be smart and do what feels comfortable.</li>
                                    <li class="list-group-item"><span class="list__title">Crunches</span><span class="list__rep"> (2 x 15)</span>: Use your judgment here and let your body tell you whether to do more or less.</li>
                                    <li class="list-group-item"><span class="list__title">Leg Extensions</span><span class="list__rep"> (2 x 12)</span>: This is a great exercise and will help build your leg muscles and will help your knees feel stronger.</li>
                                    <li class="list-group-item"><span class="list__title">Leg Curls</span><span class="list__rep"> (2 x 12)</span>: This is a great way to strengthen those hamstrings which are very important for marathon runners.</li>
                                    <li class="list-group-item"><span class="list__title">Calf Raises</span><span class="list__rep"> (2 x 12)</span>: Strengthens the calves which you may find to be quite sore after those long runs.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text2">
                                If you have lifted weights in the past, then you probably already know how to do these exercises. If you are not familiar with them, make a list of these exercises and take them with you to the gym and ask a worker or trainer to show you how to properly use each of these machines. It will only take one time.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <div class="weights1__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-center spacer">
                    <div class="col-12 col-md-6 text-center">
                        <div class="container">
                            <p class="main__text2">
                                You may find yourself wanting to lift more weight or more repetitions. Resist this urge. You are marathon weight training, not training for a weight lifting competition. Do not lose sight of the goal. Do not add bulk you will have to carry for 13.1 miles or 26.2 miles. Marathon weight training should be relaxed and fun with light weight and high repetition.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center order-md-first">
                        <div class="container">
                            <div class="weights2__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="wave2">
        <div class="container">
            <h2 class="connect__header text-center">Connect with us</h2>
            <div class="text-center">
                <ul class="d-flex connect__list">
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item connect__icons"><a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="connect__text text-center">
                <p>Contact Brad at brad@marathonrookie.com</p>
                <p>Site last updated on November 2020</p>
            </div>
            <h2 class="legal__header text-center">Legal</h2>
            <div class="legal__text text-center">
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p>&#169; MarathonRookie.com - All Rights Reserved</p>
            </div>
        </div>
        <div class="custom-shape-divider-top-1601462843">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>