/*======================
RESET STYLESHEET
======================*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

/*=================================================
MARATHON ROOKIE STYLES
=================================================*/

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

/*===================================================
PRE-HEADER STYLES
===================================================*/
.prehead__hider {
	display: none;
}

.prehead {
	height: 50px;
}

.prehead__contact {
	color: #2f3948;
	display: none;
}

p.a__style a {
	text-decoration: none;
	color: inherit;
}

/*===================================================
NAVBAR STYLES
===================================================*/

.navbar {
	min-height: 63px;
	background-color: #2f3948;
	padding-left: 5px;
	padding-right: 5px;
}

.navhead__img {
	position: absolute;
	top: -20px;
	height: 100px;
	width: 175px;
	margin-top: 2px;
	margin-left: 3px;
}

.burger__bar {
	color: #fff;
	font-size: 28px;
}

ul.level1 {
	margin-top: 50px;
}

.vh__100 {
	min-height: 100vh;
}

.dropdown .fas {
	transition: transform 400ms ease-in-out;
}

.dropdown.show i.fas {
	transform: rotate(180deg);
}

a.dropdown-item:hover {
	color: #3da0c3;
	background-color: #2f3948;
}

.nav-link,
.nav-item {
	color: #fff;
	line-height: 30px;
	padding: 10px, 5px, 10px, 5px;
}

a.nav-link {
	padding: 10px 5px 10px 5px;
}

.active__item {
	color: #3da0c3;
}

.nav-link:hover {
	color: #3da0c3;
}

.dropdown-menu {
	background-color: #2f3948;
	border: none;
	padding: none;
}

.dropdown-item {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	padding: 10px 5px 10px 5px;
}

.contact__margin {
	margin-top: 60px;
}

.nav-item p {
	margin: 10px 0;
}

.contact__icons {
	height: 50px;
	width: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 10px 10px;
}

/*============================================
WAVE STYLES
============================================*/

.wave {
	position: relative;
	width: 100%;
	height: 300px;
	background: linear-gradient(#2381a4, #1e8d89);
}

.wave__header {
	color: white;
	font-size: 32px;
	padding-top: 25px;
}

.wave__text {
	color: white;
	font-size: 18px;
	line-height: 28px;
	margin-top: 25px;
}

.custom-shape-divider-bottom-1601461848 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601461848 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.custom-shape-divider-bottom-1601461848 .shape-fill {
	fill: #fff;
	border-bottom: 2px solid white;
}

.wave2 {
	position: relative;
	width: 100%;
	height: 600px;
	background: linear-gradient(#1e8d89, #2381a4);
	margin-top: 20px;
}

.custom-shape-divider-top-1601462843 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1601462843 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.custom-shape-divider-top-1601462843 .shape-fill {
	fill: #ffffff;
}

/*============================================
MAIN STYLES
============================================*/
.table {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	margin-top: 45px;
}

.main__head {
	font-size: 24px;
	color: #3393c0;
}

.sub__head {
	font-size: 22px;
	color: #3393c0;
}

.main__text,
.main__text2 {
	color: #515151;
	font-size: 18px;
	line-height: 28px;
	margin-top: 45px;
}

.main__text2 {
	margin-bottom: 25px;
}

.td-1 {
	font-size: 16px;
}

td a i {
	border: 0;
	position: relative;
	color: #3393c0;
	padding: 5px;
}

td a i::before,
td a i::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 5px;
}

.td-2 {
	font-size: 35px;
	height: 50px;
	width: 50px;
}

.td-2::before,
.td-2::after {
	top: 0;
	left: 0;
}

.td-2::before {
	border: 2px solid transparent;
}

.td-2:hover::before {
	border-top-color: #3393c0;
	border-right-color: #3393c0;
	border-bottom-color: #3393c0;
	transition: border-top-color 0.15s linear,
		border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.td-2::after {
	border: 0 solid transparent;
}

.td-2:hover::after {
	border-top: 2px solid #3393c0;
	border-left-width: 2px;
	border-right-width: 2px;
	transform: rotate(270deg);
	transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s,
		-webkit-transform 0.4s linear 0s;
}

.fa-running {
	border-radius: 100%;
	box-shadow: none;
}

.fa-running::before,
.fa-running::after {
	border-radius: 100%;
}

.table__photo {
	height: 55px;
	width: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 2px;
}

/*=========================================
CONNECT FOOTER STYLES
=========================================*/

.connect__header {
	color: white;
	font-size: 32px;
	padding-top: 100px;
}

.connect__list {
	padding-top: 25px;
	justify-content: center;
}

.connect__icons {
	height: 50px;
	width: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 10px 10px;
	list-style-type: none;
}

.connect__text {
	color: white;
	font-size: 18px;
	line-height: 28px;
	padding-top: 25px;
}

.legal__header {
	color: white;
	font-size: 32px;
	padding-top: 25px;
}

.legal__text {
	padding: 25px 0;
}

.legal__text p,
.legal__text a {
	color: white;
	font-size: 18px;
	line-height: 28px;
}

.legal__text p:last-child {
	padding-top: 25px;
}

/*===========================================
MEDIA QUERIES
===========================================*/

@media only screen and (min-width: 536px) {
	.wave {
		height: 275px;
	}
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 769px) {
	.wave {
		height: 300px;
	}

	.wave__header {
		font-size: 40px;
		padding-top: 40px;
	}

	.wave__text {
		font-size: 20px;
		line-height: 30px;
	}

	.td-1 {
		font-size: 18px;
	}
}

@media only screen and (min-width: 992px) {
	.prehead__hider {
		display: block;
	}

	.prehead {
		height: 134px;
	}

	.prehead__img {
		position: absolute;
		top: -20px;
		height: 175px;
		width: 250px;
	}

	.prehead__envelope i {
		color: #3da0c3;
		border: 2px solid #3da0c3;
		border-radius: 50%;
		padding: 10px;
		margin-right: 5px;
	}

	.prehead__contact {
		font-size: 20px;
		line-height: 134px;
		display: inline;
	}

	.prehead__logo {
		line-height: 134px;
	}

	.navbar {
		height: 77px;
		padding: 0px;
	}

	.navhead__img {
		display: none;
	}

	ul.level1 {
		margin-top: 0;
	}

	i.rotate {
		transition: all 0.25s ease-in-out;
	}

	ul.level1 li.submenu:hover i.rotate {
		transform: rotate(180deg);
	}

	div.level2 {
		display: block;
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 400ms ease-in-out;
	}

	ul.level1 li.submenu:hover div.level2 {
		transform: scale(1, 1);
	}

	div.level2 a {
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	ul.level1 li.submenu:hover div.level2 a {
		opacity: 1;
		transition: opacity 250ms ease-in-out;
	}

	.nav-item {
		padding: 15px 20px;
	}

	.nav-item.connect__icons {
		padding: 10px 5px;
	}

	a.nav-link {
		padding: 0px;
	}

	.dropdown-menu {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	.dropdown {
		min-width: 190px;
	}

	.contact__hide {
		display: none;
	}

	.vh__100 {
		min-height: 77px;
	}
}

@media only screen and (min-width: 1200px) {
}
